node_modules
.next
.git
work-fang-extract
work-pipeline-extract
PocketScout Backups
public/other mods/RO27-Official-V3.4-win-x64-portable
public/other mods/PocketScout-Utilities-0_9_10
public/other mods/Preseason Transfer Wave V2.0.0
public/other mods/Preseason.Transfer.Wave.V2.0.0.zip
